//colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$white: #FFF; 
$grey: #353535;
$grey-1: #7E7E7E;
$grey-2: #EAEAEA;
$base-color: #000000;

//background-color
$background-color: #F6F6F6;
$background-color-location: $grey-2;
//border-box-shadow
$border-box-shadow-logo: rgba($base-color,0.15);
$border-box-shadow-btn: rgba($base-color,0.25);
$border-box-shadow-menu: rgba($base-color,0.10);
//background-image
$background-image: linear-gradient(to top, $color-primary 0%, $color-secondary 100%);
//border-radius
$radius:(
menu:20,
btn:25,
steps-menu:50
);



